@font-face {
  font-family: "DKJalebi";
  src: url("/assets/DK\ Jalebi.otf")format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  overflow-x: hidden;
}

img {
  background-size: cover;
  object-fit: cover;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: black;
}

/* Header styles starts here */
.page-header {
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}
.header-container {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black;  */
}
.header-logo-section {
  /* width: 100px; */
  /* height: 100px; */
  background-size: cover;
  object-fit: cover;
 
}
.header-logo-section a img {
  width: 80%;
  height: 80%;
  background-size: cover;
  object-fit: cover;
  /* border: 1px solid black; */
}
.header-links-section {
  width: 500px;
  display: flex;
  align-items: flex-start;

  gap: 20px;
  justify-content: flex-end;
  /* border: 1px solid black;  */
}
.header-links-section a {
  text-decoration: none;
  color: #26386E;
  font-size: 15px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "DKJalebi", sans-serif; 
}
.hamburger-section{
  display: none;
}
.hamburger-menu{
  width: 100vw;
  height: 200vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  transition: 0.5s opacity ease-in-out;
}
.hamburger-overlay{
  height: 200vh;
  width: 100vw;
  background-color: #22222488;
}
.hamburger-slider{
  width: 330px;
  height: 200vh;
  /* border: 10px solid blue; */
  position: relative;
  top: 0;
  right: -330px;
  font-family: "DKJalebi", sans-serif;
  background-color: white;
  
  transition: 0.5s right ease-in-out;
  text-align: center;
  justify-content: center;
}
.cross{
  color: red;
  justify-content: end;
  text-align: right;
  margin-top: 50px;
  margin-right: 15%;

}

.hamburger-slider h1{
  color: #E5B226;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}
.ancor{
  text-decoration: none;
  color: #E5B226;
  font-size: 22px;
}
.our-products-section h1{
  font-weight: 300;
}
/* Header styles ends here */
.banner-section {
  width: 1440px;
  /* border: 1px solid black; */
  margin: auto;
  /* display: flex;
  align-items: stretch;
  justify-content: space-between; */
  /* margin-bottom: 100px; */
  position: relative;
}

.banner-section img{
  height: auto;
  width: 100%;
}
.banner-heading-section{
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 50%;
  font-family: "Oleo Script", system-ui;
  text-align: center;
  font-size: 29px;
}
.banner-heading-section h1{
  margin: 0;
  margin-bottom: -25px;
  font-family: "Oleo Script", system-ui;
  color: #414142;
  width: 450px;
  font-weight: 700;
  line-height: 59px;
}

.banner-know-more-section{
  position: absolute;
  top: 75%;
  right: 30%;
}

.banner-know-more-section button{
  padding: 25px 70px;
  background-color: #414142;
  border: none;
  color: white;
  font-size: 22px;
  font-family: "Kreon", serif;
}
.person-section {
  width: 50%;
}
.person-section img {
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
}
.banner-details-section {
  width: 49%;
  border: 1px solid red;
  text-align: center;
}
.banner-details-section h1 {
  margin-bottom: 5px;
}
.banner-packaging-section {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  position: relative;
}
.banner-packaging-section .peanuts-image {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 2;
}
.banner-packaging-section .packaging-packet {
  width: 200px;
  height: 200px;
  z-index: 10;
}
.banner-packaging-section .red-chilly-image {
  position: absolute;
  left: 86%;
  border: 1px solid green;
  height: 100px;
  width: 100px;
  z-index: 2;
  top: 130px;
}
.banner-details-section .know-more-btn {
  padding: 20px 70px;
  margin-top: 20px;
  font-size: 17px;
  background-color: white;
  /* border: 1px solid black; */
}
.features-section {
  width: 1440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: 1px solid black; */
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}

.features-section h1 {
  background-color: white;
  position: relative;
  text-align: center;
  top: -20px;
  width: 440px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.features-section h3{
  font-family: "Kreon", serif;
}

.features-grid-section {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

/* .innovationImages{
  height: 20px;
  width: 20px;
} */

.features-grid-section div {
  /* border-left: 3px solid black; */
  padding: 20px 20px 0px 20px;
}

.features-grid-section div:first-child {
  border: none;
}

.features-grid-section div img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  background-size: cover;
  object-fit: cover;
}

.floating-image-section {
  width: 100%;
  position: relative;
  object-fit: cover;
  background-size: cover;
}

.floating-image-section img {
  position: absolute;
  width: 150px;
  /* height: 170px; */
  /* border: 1px solid black; */
  z-index: 10;
  object-fit: cover;
  background-size: cover;
}

.right-floating-image {
  left: 85vw;
  background-size: cover;
  object-fit: cover;
}

.left-floating-image {
  width: 100%;
  height: auto;
  left: 10vw;
}

.our-products-section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.our-products-section h1{
  font-family: "Open Sans", sans-serif;
}

.category-filter-section {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.category-filter-section button {
  padding: 30px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.category-filter-section button:hover{
  color:white;
  background-color: #e8c055;
}


/* Swiper slider starts here */

.product-cards-section {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}


#tranding .tranding-slider {
  height: 800px;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide {
  width: 400px;
  height: 600px;
  position: relative;
  padding: 50px 20px;
  /* background: linear-gradient(to right, rgb(78, 244, 225) , rgb(255, 242, 56)); */
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  columns: white;
}

.tranding-slide .tranding-slide-img img {
  width: 90%;
  margin: auto;
  height: 500px;
  border-radius: 2rem;
  object-fit: cover;
  /* justify-content: center; */
}

.tranding-slide .tranding-slide-content {
  /* position: absolute; */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  /* right: 2rem; */
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  /* position: absolute; */
  /* bottom: 50px; */
  color: var(--white);
  text-align: center;
  width: 100%;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* Swiper Slider Ends here  */

.overflow-section {
  overflow: hidden;
  /* display: none; */
  margin-top: 700px;
}

.text-scrolling-section {
  width: 200%;
  height: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 280px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  animation: RightToLeft 10s infinite linear;
}

.text-scrolling-section div h1 {
  width: 200px;
  text-align: center;
  font-size: 24px;
  font-family: "DKJalebi", sans-serif;
  font-weight: 400;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.recipies-section {
  width: 1440px;
  margin: auto;
  /* margin-top: 520px; */
  margin-bottom: 50px;
  text-align: center;

}
.recipies-section h1{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 50px;
} 

.recipies-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.recipies-grid-section div {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: #ebdc50;
  font-family: "Kreon", serif;
}
.recipies-grid-section h3{
  justify-content: center;
  text-align: center;
}

.recipies-grid-section div img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-size: cover;
  object-fit: cover;
  background-color: white;
  margin-bottom: 20px;
}

.testimonials-section {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  
}
.testimonials-section h1{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.testimonials-content-section {
  margin-top: 30px;
  background-color: #26386e;
  padding: 100px 0px;
}

.testimonials-grid-section {
  width: 1440px;
  margin: auto;
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: repeat(4,20%);
}

.testimonials-grid-section .testimonials-card {
  width: 100%;
  padding: 50px 40px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgb(235, 220, 80) 5px 5px, rgb(235, 220, 80) 10px 10px,
    rgba(255, 234, 3, 0) 15px 15px, rgba(255, 234, 3, 0) 20px 20px,
    rgba(240, 46, 169, 0) 25px 25px;
    /* box-shadow: #EBDC50; */
}

.testimonials-grid-section .testimonials-card .recipe-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.testimonials-grid-section .testimonials-card h3 {
  margin-top: 10px;
  font-family: "Kreon", serif;
}

.testimonials-grid-section .testimonials-card h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Titan One", sans-serif;
}

.testimonials-grid-section .testimonials-card p {
  font-family: "Inter", sans-serif;
}

.stars-section {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.stars-section img {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
}

.social-feed-section {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.social-feed-section h1 {
  margin-bottom: 40px;
  color: #26386E;
  font-family: "Lakki Reddy", serif;
  font-size: 56px;
}

.social-feed-grid-section {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(4, 25%);
}

.social-feed-grid-section img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  background-size: cover;
  /* border: 1px solid black; */
}


/* Footer styles starts from here */
.page-footer {
  width: 100%;
  background-color: #e8c055;
  padding: 50px 0px;
  font-family: "Kreon", serif;
}

.footer-container {
  width: 1000px;
  margin: auto;
}

.footer-get-in-touch-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: "Kreon", serif;
}

.footer-get-in-touch-section input {
  width: 80%;
  border-radius: 30px;
  background-color: white;
  height: 60px;
  padding-left: 20px;
  border: none;
  font-family: "Kreon", serif;
}

.footer-get-in-touch-section button {
  width: 18%;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #26386e;
  font-size: 17px;
  font-family: "Kreon", serif;
}

.footer-links-section {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Kreon", serif;
}

.footer-links-section a {
  color: white;
  font-size: 23px;
  text-decoration: none;
  font-weight: 800;
  font-family: "Kreon", serif;
}



#firstimage1{
  background: linear-gradient(180deg, #83BFA9 0%, #30946F 100%);
}

#secondimage2{
  background: linear-gradient(180deg, #EFD17D 0%, #E5B226 100%);
}
#thirdimage3{
  background: linear-gradient(180deg, #D5D77A 0%, #B9BD22 100%);
}
#fourthimage4{
  background: linear-gradient(180deg, #bbd182 0%, #90a35c 100%);
}
#fifthimage5{
  background: linear-gradient(180deg, #bc6c55 0%, #c75637 100%);
}
#sevenimage7{
  background: linear-gradient(180deg, #EBC28E 0%, #DD9943 100%);
}
#sixthimage6{
  background: linear-gradient(180deg, #BFCAEB 0%, #95A7DE 100%);
}  

/* ///// */

/* Default styles for the header */

/* Media query for screens below 1000px */

/* Footer styles ends from here */





/* //// */
@media all and (max-width:1500px){
  .banner-section {
    width: 1360px;
  }
  .features-section {
    width: 1360px;
  }
  .recipies-section {
    width: 1360px;
  }
  .testimonials-grid-section {
    width: 1360px;
  }
}

@media all and (max-width:1400px){
  .banner-section {
    width: 1280px;
  }
  .features-section {
    width: 1280px;
  }
  .recipies-section {
    width: 1280px;
  }
  .testimonials-grid-section {
    width: 1280px;
  }
}

@media all and (max-width:1300px){
  .banner-section {
    width: 1250px;
  }
  .features-section {
    width: 1250px;
  }
  .recipies-section {
    width: 1250px;
  }
  .testimonials-grid-section {
    width: 1250px;
  }
}
@media all and (max-width:1270px){
  .banner-section {
    width: 1170px;
  }
  .features-section {
    width: 1170px;
  }
  .recipies-section {
    width: 1170px;
  }
  .testimonials-grid-section {
    width: 1170px;
    grid-template-columns: repeat(2,47%);
    row-gap: 40px;
  }
  
  .testimonials-grid-section .testimonials-card .recipe-image {
    width: 220px;
    height: 220px;
    border-radius: 10px;
  }
  
}
@media all and (max-width:1190px){
  .banner-section {
    width: 1025px;
  }
  .features-section {
    width: 1025px;
  }
  .recipies-section {
    width: 1025px;
  }
  .testimonials-grid-section {
    width: 1025px;
  }

  .social-feed-grid-section {
    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
  }


  .social-feed-grid-section img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    background-size: cover;
    /* border: 1px solid black; */
  }

  .recipies-grid-section div img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }

  .banner-heading-section h1{
    font-size: 39px;
    line-height: 58px;
    width: 330px;
  }

}


@media all and (max-width:1080px){
  .banner-section {
    width: 971px;
  }
  .features-section {
    width: 971px;
  }
  .recipies-section {
    width: 971px;
  }
  .testimonials-grid-section {
    width: 971px;
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }

  .footer-container {
    width: 90%;
    padding: 0 20px;
  }

  .footer-get-in-touch-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-get-in-touch-section input {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-get-in-touch-section button {
    width: 100%;
    height: 50px;
  }

  .footer-links-section {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .footer-links-section a {
    margin: 10px;
    display: flex;
  }

}

@media all and (max-width: 1025px){
  .header-container {
    width: 767px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black;  */
  }
}


@media all and (max-width:1000px){
  .banner-section {
    width: 767px;
  }
  .features-section {
    width: 767px;
  }
  .recipies-section {
    width: 767px;
  }
  .testimonials-grid-section {
    width: 767px;
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 210px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }
  .recipies-grid-section div {
    height: 340px;
  }
  /* .banner-section {
    height: 600px;
    width: 100%;

  } */



}

@media all and (max-width:780px){
  .header-container {
    width: 600px;
  }
  .header-links-section {
    display: none;
  }
  .hamburger-section{
    display: block;
    cursor: pointer;
  }
  .floating-image-section img {
    position: absolute;
    width: 100px;
    /* height: 170px; */
    /* border: 1px solid black; */
    z-index: 10;
    object-fit: cover;
    background-size: cover;
  }

  .banner-know-more-section button{
    padding: 15px 20px;
    background-color: #414142;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Kreon", serif;
  }
  
  .right-floating-image {
    left: 85vw;
    background-size: cover;
    object-fit: cover;
  }
  
  .left-floating-image {
    width: 100%;
    height: auto;
    left: 5vw;
    margin-top: 100px;
  }
  .banner-section {
    width: 600px;
  }

  .features-section {
    width: 600px;
  }
  .recipies-section {
    width: 600px;
  }
  .testimonials-grid-section {
    width: 600px;
    grid-template-columns: repeat(1,70%);
    row-gap: 40px;
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  .recipies-grid-section div img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }
  .recipies-grid-section div {
    height: 300px;
  }
  /* .banner-section {
    height: 580px;
    width: 100%;
  } */
  /* .banner-section img{
    height: 580px;
    width: 100%;
  } */

  .banner-heading-section h1{
    font-size: 39px;
    line-height: 50px;
    width: 300px;
  }
  
}

@media all and (max-width:620px){
  .header-container {
    width: 500px;
  }
  .banner-section {
    width: 500px;
  }
  .features-section {
    width: 500px;
  }
  .recipies-section {
    width: 500px;
  }
  .testimonials-grid-section {
    width: 500px;
    
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }
  .recipies-grid-section div {
    height: 270px;
  }

  .recipies-grid-section{
    grid-template-columns: repeat(1,70%);
    row-gap: 40px;
    justify-content: center;
  }

  .features-grid-section {
    /* display: grid; */
    grid-template-columns: repeat(2, 48%);
  }
  .banner-heading-section h1{
    font-size: 39px;
    line-height: 39px;
    width: 250px;
    font-size: 35px;
  }
  /* .banner-section {
    height: 580px;
    width: 100%;
  } */

  /* .banner-section img{
    height: 580px;
    width: 100%;
  } */

  .header-logo-section a img {
    width: 70%;
    height: 70%;
    background-size: cover;
    object-fit: cover;
    /* border: 1px solid black; */
  }

}

@media all and (max-width:515px){
  .header-container {
    width: 400px;
  }
  .banner-know-more-section button{
    padding: 10px 15px;
    background-color: #414142;
    border: none;
    color: white;
    font-size: 17px;
    font-family: "Kreon", serif;
  }
  .banner-section {
    width: 400px;
  }
  .features-section {
    width: 400px;
  }
  .recipies-section {
    width: 400px;
  }
  .testimonials-grid-section {
    width: 400px;
    grid-template-columns: repeat(1,90%);
    
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }
  .recipies-grid-section div {
    height: 270px;
  }

  .recipies-grid-section{
    grid-template-columns: repeat(1,70%);
    row-gap: 40px;
    justify-content: center;
  }
  .social-feed-grid-section img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-size: cover;
    /* border: 1px solid black; */
  }

  .features-grid-section {
    /* display: grid; */
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }

  .banner-heading-section h1{
    font-size: 30px;
    line-height: 35px;
    width: 250px;
  }
  .banner-heading-section{
    left: 40%;
  }
  .testimonials-section h1{
    font-size: 35px;
  }
}

@media all and (max-width:490px){
  .text-scrolling-section {
    margin-top: 50px;
  }

  .header-container {
    width: 350px;
  }
  .banner-section {
    width: 350px;
  }
  .features-section {
    width: 350px;
  }
  .recipies-section {
    width: 350px;
  }
  .testimonials-grid-section {
    width: 350px;
    grid-template-columns: repeat(1,90%);
    
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
  }
  .recipies-grid-section div {
    height: 270px;
  }

  .recipies-grid-section{
    grid-template-columns: repeat(1,70%);
    row-gap: 40px;
    justify-content: center;
  }
  .social-feed-grid-section img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    background-size: cover;
    /* border: 1px solid black; */
  }

  .features-grid-section {
    /* display: grid; */
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
  .tranding-slide {
    width: 300px;
    height: 500px;
  }
  .tranding-slide .tranding-slide-img img {
    width: 90%;
    margin: auto;
    height: 400px;
    border-radius: 2rem;
    object-fit: cover;
    /* justify-content: center; */
  }
  /* //////// /// */
  .features-section h1 {
    font-size: 20px;
    justify-content: center;
    margin:auto ;
  }

  .features-section h1 {
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .banner-heading-section{
    left: 30%;
  }

  .features-section h1 {
    background-color: white;
    position: relative;
    text-align: center;
    top: -20px;
    width: 300px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
  }
  .header-logo-section a img {
    width: 60%;
    height: 60%;
    background-size: cover;
    object-fit: cover;
    /* border: 1px solid black; */
  }
  .recipies-section h1{
    font-size: 35px;
  }
  .social-feed-section h1 {
    font-size: 35px;
    margin-top: -60px;
  }

}

@media all and (max-width:380px){
  .header-container {
    width: 300px;
  }
  .banner-section {
    width: 300px;
  }
  .features-section {
    width: 300px;
  }
  .recipies-section {
    width: 300px;
  }
  .testimonials-grid-section {
    width: 300px;
    grid-template-columns: repeat(1,90%);
    
  }
  .recipies-grid-section div img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-size: cover;
    object-fit: cover;
    background-color: white;
    margin-bottom: 20px;
    justify-content: center;
    margin: auto;
  }
  .recipies-grid-section div {
    height: 280px;
  }

  .recipies-grid-section{
    grid-template-columns: repeat(1,70%);
    row-gap: 40px;
    justify-content: center;
  }

  .social-feed-grid-section img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    background-size: cover;
    /* border: 1px solid black; */
  }

  .features-grid-section {
    /* display: grid; */
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
  .tranding-slide {
    width: 300px;
    height: 500px;
  }

  .banner-heading-section{
    left: 25%;
  }

  .banner-heading-section h1{
    font-size: 25px;
    line-height: 30px;
    width: 250px;
  }
  
}

@media all and (max-width:335px){
  .social-feed-grid-section{
    grid-template-columns: repeat(1, 100%);
  }
}